body {
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: 'Dosis', sans-serif;
}
body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}
body a:hover {
    text-decoration: none;
}
body a:focus, a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
li{
    text-decoration: none;
}
footer{
    background-color: black;
    margin: 0;
}
nav .navbar-expand{
    background: #eee;
    box-shadow: 1px 2px 2px 1px rgba(12, 12, 12, 0.11);
} 
.nav-link, .navbar-brand{
    color: #fff;
    letter-spacing: 1px;
    padding: 0 20px;
    font-size: 15px;
    font-family: 'Acme', sans-serif;
}
.nav-link:hover, .navbar-brand:hover{
    color: #fff;
}
.navbar-brand .nav-link:hover,
.navbar-brand .nav-link:focus{
    color: #fff;
    background: #090e45;
}
.navbar-brand span{
    color: #8BC34A;
}
.bg-light {
    background-color: rgba(0, 0, 0, 0.28) !important;
}
.nav-item .active {
    background-color: #090e45;
    color: #fff;
}
#intro{
    background: url('../img/background.jpg') no-repeat right;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 800px;
    height: auto;
}
.img_caption{
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 0;
    height: 19%;
    left: 0;
    padding: 15px 20px;
    position: absolute;
    right: 0;
    text-align: left;
    z-index: 99;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -moz-transform: translateY(150%) scale(1.5);
    -o-transform: translateY(150%) scale(1.5);
    -ms-transform: translateY(150%) scale(1.5);
    -webkit-transform: translateY(150%) scale(1.5);
    transform: translateY(150%) scale(1.5);
}
footer a{
    color: #FFF;
    font-style: inherit;
}
footer li{
    list-style: none;
}
hr{
    background-color: #FFF;
}

.right-content, .left-content {
	float:left;
	display:block;
	width:40%;
	padding:1% 2%;
}
.left-content {
	border-right:5px dotted #666;	
	text-align:right;
}
.left-content p {
	margin:150px 0 0;
}
.right-content p {
	margin:80px 0 150px;
}
.left-content p, .right-content p {
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7 ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;	
}
.left-content .more-padding {
  padding-right:100px;
}
.right-content .more-padding {
  padding-left:100px;
}
.nav-link{
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 10px 25px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.navbar-nav .show>.nav-item,
.navbar-nav .active>.nav-item,
.navbar-nav .nav-item.active {
    color: #fff;
    background: #090e45;
}
h3.tittle span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #F5F5F5;
    z-index: -1;
    font-size: 100px;
    line-height: .5;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3)
}
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 3%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../img/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}


/* Media queries */

@media(min-width: 1280px){
    .navbar-brand{
        font-size: 30px;
    }
    .image_caption{
        padding-top: 13em;
    }
    .team-agile-img{
        height: 150px;
        width: 150px;
        border: 1px solid black;
    }
}
@media(min-width: 992px) and (max-width: 1280px){
    .team-agile-img{
        height: 125px;
        width: 125px;
        border: 1px solid black;
    }
}
@media(min-width: 768px) and (max-width: 992px){
    .team-agile-img{
        height: 100px;
        width: 100px;
        border: 1px solid black;
    }
}
@media(min-width: 576px) and (max-width: 768px){

}

/*****************/