body {
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: 'Dosis', sans-serif;
}
body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}
body a:hover {
    text-decoration: none;
}
body a:focus, a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
li{
    text-decoration: none;
}
.camera_wrap {
  width: 100%;
  height: 100%;
}

.txt {
  font-size: 30px;
  color: #1a81db
}
.txt1 {
  font-size: 25px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 20px;
  color: red;
}
nav .navbar-expand{
    background: #eee;
    box-shadow: 1px 2px 2px 1px rgba(12, 12, 12, 0.11);
} 
.nav-link, .navbar-brand{
    color: #fff;
    letter-spacing: 1px;
    padding: 0 20px;
    font-size: 15px;
    font-family: 'Acme', sans-serif;
}
.nav-link:hover, .navbar-brand:hover{
    color: gray;
}
.navbar-brand .nav-link:hover,
.navbar-brand .nav-link:focus{
    color: #fff;
    background: #090e45;
}
.navbar-brand span{
    color: #8BC34A;
}
.bg-light {
    background-color: rgba(0, 0, 0, 0.28) !important;
}
.nav-item .active {
    background-color: #0116f8;
    color: #fff;
}
.nav-link{
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 10px 25px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.navbar-nav .show>.nav-item,
.navbar-nav .active>.nav-item,
.navbar-nav .nav-item.active {
    color: #fff;
    background: #0116f8;
}
h3.tittle span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #F5F5F5;
    z-index: -1;
    font-size: 100px;
    line-height: .5;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3)
}
footer{
    background-color: black;
    margin: 0;
}
footer a{
    color: #FFF;
    font-style: inherit;
}
footer li{
    list-style: none;
}
hr{
    background-color: #FFF;
}
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 3%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../img/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}



.main-timeline {
    font-family: tahoma;
    padding: 20px 0;
    position: relative;
  }
  
  .main-timeline::before,
  .main-timeline::after {
    content: "";
    height: 40px;
    width: 40px;
    background-color: #e7e7e7;
    border-radius: 50%;
    border: 10px solid #303334;
    transform: translatex(-50%);
    position: absolute;
    left: 50%;
    top: -15px;
    z-index: 2;
  }
  
  .main-timeline::after {
    top: auto;
    bottom: 15px;
  }
  
  .main-timeline .timeline {
    padding: 35px 0;
    margin-top: -30px;
    position: relative;
    z-index: 1;
  }
  
  .main-timeline .timeline::before,
  .main-timeline .timeline::after {
    content: "";
    height: 100%;
    width: 50%;
    border-radius: 110px 0 0 110px;
    border: 15px solid #46b2bc;
    border-right: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  
  .main-timeline .timeline::after {
    height: calc(100% - 30px);
    width: calc(50% - 12px);
    border-color: #65c7d0;
    left: 12px;
    top: 15px;
  }
  
  .main-timeline .timeline-content {
    display: inline-block;
  }
  
  .main-timeline .timeline-content:hover {
    text-decoration: none;
  }
  
  .main-timeline .timeline-year {
    color: #65c7d0;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    transform: translatey(-50%);
    position: absolute;
    top: 50%;
    left: 10%;
  }
  
  .main-timeline .timeline-icon {
      color: #65c7d0;
      font-size: 70px;
      display: inline-block;
      transform: translateY(-50%);
      position: absolute;
      left: 34%;
      top: 50%;
  }
  
  .main-timeline .content {
    color: #909090;
    width: 50%;
    padding: 20px;
    display: inline-block;
    float: right;
  }
  
  .main-timeline .title {
    color: #65c7d0;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 5px 0;
  }
  
  .main-timeline .description {
    font-size: 16px;
    margin: 0;
  }
  
  .main-timeline .timeline:nth-child(even)::before {
    left: auto;
    right: 0;
    border-radius: 0 110px 110px 0;
    border: 15px solid red;
    border-left: none;
  }
  
  .main-timeline .timeline:nth-child(even)::after {
    left: auto;
    right: 12px;
    border-radius: 0 100px 100px 0;
    border: 15px solid green;
    border-left: none;
  }
  
  .main-timeline .timeline:nth-child(even) .content {
    float: left;
  }
  
  .main-timeline .timeline:nth-child(even) .timeline-year {
      left: auto;
      right: 10%;
  }
  
  .main-timeline .timeline:nth-child(even) .timeline-icon {
    left: auto;
    right: 32%;
  }
  
  .main-timeline .timeline:nth-child(5n+1)::before {
    border-color: #46b2bc;
  }
  
  .main-timeline .timeline:nth-child(5n+1)::after {
    border-color: #65c7d0;
  }
  
  .main-timeline .timeline:nth-child(5n+1) .timeline-icon {
    color: #65c7d0;
  }
  
  .main-timeline .timeline:nth-child(5n+1) .timeline-year {
    color: #65c7d0;
  }
  
  .main-timeline .timeline:nth-child(5n+1) .title {
    color: #65c7d0;
  }
  
  .main-timeline .timeline:nth-child(5n+2)::before {
    border-color: #ea3c14;
  }
  
  .main-timeline .timeline:nth-child(5n+2)::after {
    border-color: #EF5720;
  }
  
  .main-timeline .timeline:nth-child(5n+2) .timeline-icon {
    color: #EA3C14;
  }
  
  .main-timeline .timeline:nth-child(5n+2) .timeline-year {
    color: #EA3C14;
  }
  
  .main-timeline .timeline:nth-child(5n+2) .title {
    color: #EA3C14;
  }
  
  .main-timeline .timeline:nth-child(5n+3)::before {
    border-color: #8CC63E;
  }
  
  .main-timeline .timeline:nth-child(5n+3)::after {
    border-color: #6CAF29;
  }
  
  .main-timeline .timeline:nth-child(5n+3) .timeline-icon
  {
    color: #8CC63E;
  }
  
  .main-timeline .timeline:nth-child(5n+3) .timeline-year {
    color: #8CC63E;
  }
  
  .main-timeline .timeline:nth-child(5n+3) .title {
    color: #8CC63E;
  }
  
  .main-timeline .timeline:nth-child(5n+4)::before {
    border-color: #F99324;
  }
  
  .main-timeline .timeline:nth-child(5n+4)::after {
    border-color: #FBB03B;
  }
  
  .main-timeline .timeline:nth-child(5n+4) .timeline-icon {
    color: #F99324;
  }
  
  .main-timeline .timeline:nth-child(5n+4) .timeline-year {
    color: #F99324;
  }
  
  .main-timeline .timeline:nth-child(5n+4) .title {
    color: #F99324;
  }
  
  .main-timeline .timeline:nth-child(5n+5)::before {
    border-color: #0071BD;
  }
  
  .main-timeline .timeline:nth-child(5n+5)::after {
    border-color: #0050A3;
  }
  
  .main-timeline .timeline:nth-child(5n+5) .timeline-icon {
    color: #0071BD;
  }
  
  .main-timeline .timeline:nth-child(5n+5) .timeline-year {
    color: #0071BD;
  }
  
  .main-timeline .timeline:nth-child(5n+5) .title {
    color: #0071BD;
  }




@media(min-width: 1280px){
    #intro{
        /* background: url('../img/background.jpg') no-repeat right; */
        
        /* background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover; */
        min-height: 680px;
        height: auto;
        margin-top: -40px;
        height: 100%;  
        width: 100%;
      /* display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; */
    }
    #documents p{
        font-size: 20px;
    }
    .doc_image{
        height: 55px;
    }
    .team_image{
        height: 175px;
    }
    .image_caption{
        padding-top: 13em;
    }
    #googleMap{
        height: 300px;
    }
    #contact{
        margin-bottom: 50px;
    }
    #documents{
        padding-bottom: 50px;
    }
    #about{
        padding-bottom: 50px;   
    }
    #team{
        padding-bottom: 50px;   
    }
    #milestones{
        padding-bottom: 50px;   
    }

    .view-caption .cap-info h4 {
        color: #000;
        font-size: 1.7em;
        font-weight: bold;
        margin-top: 5px;
    }
    .team_text{
      font-size: 1.2em;
      font-weight: bold;
    }
    .team-agile-img:hover .view-caption {
      -moz-transform: translateY(0%) scale(1);
      -o-transform: translateY(0%) scale(1);
      -ms-transform: translateY(0%) scale(1);
      -webkit-transform: translateY(0%) scale(1);
      transform: translateY(0%) scale(1);
      font-size: 10px;
  }
  .view-caption {
      background-color: rgba(255, 255, 255, 0.6);
      bottom: 0;
      height: 19%;
      left: 0;
      padding: 15px 20px;
      position: absolute;
      right: 0;
      text-align: left;
      z-index: 99;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      -moz-transform: translateY(150%) scale(1.5);
      -o-transform: translateY(150%) scale(1.5);
      -ms-transform: translateY(150%) scale(1.5);
      -webkit-transform: translateY(150%) scale(1.5);
      transform: translateY(150%) scale(1.5);
  }
  .team-agile-img {
    background-color: #FFF;
    height: 275px;
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
    filter: alpha(opacity=100);
}
.team-agile-img img {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.team-agile-img:before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.team-agile-img:hover:before {
    background-color: rgba(0, 0, 0, 0.8);
}

.table1 {
  border-radius: 5px;
  width: 50%;
  margin: 0px auto;
  float: none;
}

.img-fluid{
  height: 275px;
}

    .main-timeline .timeline:after{ border-radius: 88px 0 0 88px; }
    .main-timeline .timeline:nth-child(even):after{ border-radius: 0 88px 88px 0; }
}
@media(min-width: 992px) and (max-width: 1280px){
  #intro{
    /* background: url('../img/background.jpg') no-repeat right; */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 600px;
    height: auto;
  }
  #documents p{
    font-size: 16px;
  }
  .tittle{
    font-size: 25px;
  }
  #about h4{
    font-size: 22px;
  }
  .doc_image{
    height: 40px;
  }
  footer h3{
    font-size: 22px;
  }
  footer div{
    font-size: 15px;
  }
  .image_caption{
    padding-top: 13em;
    font-size: 15px;
  }
  #team div .add{
    font-size: 15px;
  }
  #googleMap{
      height: 300px;
  }
  #contact .mb-3{
    font-size: 20px;
    font-weight: bold;
  }
  .view-caption .cap-info h4 {
    color: #000;
    font-size: 1em;
    font-weight: bold;
    margin-top: 5px;
  }
  .team-agile-img:hover .view-caption {
    -moz-transform: translateY(0%) scale(1);
    -o-transform: translateY(0%) scale(1);
    -ms-transform: translateY(0%) scale(1);
    -webkit-transform: translateY(0%) scale(1);
    transform: translateY(0%) scale(1);
    font-size: 10px;
  }
  .view-caption {
      background-color: rgba(255, 255, 255, 0.6);
      bottom: 0;
      height: 19%;
      left: 0;
      padding: 15px 20px;
      position: absolute;
      right: 0;
      text-align: left;
      z-index: 99;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      -moz-transform: translateY(150%) scale(1.5);
      -o-transform: translateY(150%) scale(1.5);
      -ms-transform: translateY(150%) scale(1.5);
      -webkit-transform: translateY(150%) scale(1.5);
      transform: translateY(150%) scale(1.5);
  }
  .team-agile-img {
    background-color: #FFF;
    height: 200px;
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .team-agile-img img {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .team-agile-img:before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .team-agile-img:hover:before {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .img-fluid{
    height: 200px;
  }
}
@media(min-width: 768px) and (max-width: 992px){
  #intro{
    /* background: url('../img/background.jpg') no-repeat right; */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 500px;
    height: auto;
  }
  body{
    font-size: 17px;
  }
  .navbar-toggler{
    height: 40px;
    width: 40px;
  }
  .navbar-toggler-icon{
    height: 30px;
    width: 30px;
    margin-left: -8px;
  }
  .doc_image{
    height: 45px;
  }
  #documents p{
    font-size: 15px;
  }
  footer h3{
    font-size: 23px;
  }
  footer div{
    font-size: 15px;
  }
  footer ul{
    margin-left: -20px;
  }
  #contact .mb-3{
    font-size: 22px;
    font-weight: bold;
  }
  #contact label{
    font-size: 15px;
  }
  #contact .row div{
    font-size: 15px;
  }
  .image_caption{
    padding-top: 10em;
    font-size: 15px;
  }
  #team div{
    font-size: 15px;
  }
  #team div .add{
    font-size: 12px;
  }
  #about div{
    font-size: 15px;
  }
  #about h4{
    font-size: 20px;
  }
  #about img{
    height: 45px;
  }
  .tittle{
    font-size: 23px;
  }
  #googleMap{
      height: 300px;
  }
  .team-agile-img:hover .view-caption {
    -moz-transform: translateY(0%) scale(1);
    -o-transform: translateY(0%) scale(1);
    -ms-transform: translateY(0%) scale(1);
    -webkit-transform: translateY(0%) scale(1);
    transform: translateY(0%) scale(1);
    font-size: 10px;
  }
  .view-caption {
      background-color: rgba(255, 255, 255, 0.6);
      bottom: 0;
      height: 19%;
      left: 0;
      padding: 15px 20px;
      position: absolute;
      right: 0;
      text-align: left;
      z-index: 99;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      -moz-transform: translateY(150%) scale(1.5);
      -o-transform: translateY(150%) scale(1.5);
      -ms-transform: translateY(150%) scale(1.5);
      -webkit-transform: translateY(150%) scale(1.5);
      transform: translateY(150%) scale(1.5);
  }
  .team-agile-img {
    background-color: #FFF;
    height: 175px;
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .team-agile-img img {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .team-agile-img:before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .team-agile-img:hover:before {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .img-fluid{
    height: 175px;
  }
}
@media(min-width: 576px) and (max-width: 768px){
  #intro{
    /* background: url('../img/background.jpg') no-repeat right; */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 500px;
    height: auto;
  }
  body{
    font-size: 17px;
  }
  .navbar-toggler{
    height: 40px;
    width: 40px;
  }
  .navbar-toggler-icon{
    height: 30px;
    width: 30px;
    margin-left: -8px;
  }
  .doc_image{
    height: 40px;
  }
  #documents p{
    font-size: 15px;
  }
  footer h3{
    font-size: 23px;
  }
  footer div{
    font-size: 15px;
  }
  footer ul{
    margin-left: -20px;
  }
  #contact .mb-3{
    font-size: 20px;
    font-weight: bold;
  }
  #contact label{
    font-size: 15px;
  }
  #contact .row div{
    font-size: 15px;
  }
  .image_caption{
    padding-top: 10em;
    font-size: 15px;
  }
  #team div{
    font-size: 15px;
  }
  #team div .add{
    font-size: 12px;
  }
  #about div{
    font-size: 15px;
  }
  #about h4{
    font-size: 20px;
  }
  #about img{
    height: 45px;
  }
  .tittle{
    font-size: 23px;
  }
  #googleMap{
      height: 300px;
  }
  .team-agile-img:hover .view-caption {
    -moz-transform: translateY(0%) scale(1);
    -o-transform: translateY(0%) scale(1);
    -ms-transform: translateY(0%) scale(1);
    -webkit-transform: translateY(0%) scale(1);
    transform: translateY(0%) scale(1);
    font-size: 10px;
  }
  .view-caption {
      background-color: rgba(255, 255, 255, 0.6);
      bottom: 0;
      height: 19%;
      left: 0;
      padding: 15px 20px;
      position: absolute;
      right: 0;
      text-align: left;
      z-index: 99;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      -moz-transform: translateY(150%) scale(1.5);
      -o-transform: translateY(150%) scale(1.5);
      -ms-transform: translateY(150%) scale(1.5);
      -webkit-transform: translateY(150%) scale(1.5);
      transform: translateY(150%) scale(1.5);
  }
  .team-agile-img {
    background-color: #FFF;
    height: 175px;
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .team-agile-img img {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .team-agile-img:before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .team-agile-img:hover:before {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .img-fluid{
    height: 175px;
  }
}
@media(max-width: 576px){
    body{
      font-size: 14px;
    }
    #logo{
        height: 35px;
    }
    .navbar-toggler{
        height: 40px;
        width: 40px;
    }
    .navbar-toggler-icon{
        height: 30px;
        width: 30px;
        margin-left: -8px;
    }
    #intro{
        /* background: url('../img/background.jpg') no-repeat right; */
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        min-height: 400px;
        height: auto;
    }
    #intro h3{
      font-size: 19px;
    }
    .tittle{
        font-size: 20px;
    }
    .doc_image{
        height: 35px;
    }
    #about div img{
      height: 35px;
    }
    #about h4{
      font-size: 20px;
    }
    #documents p{
        font-size: 13px;
    }
    .team_image{
        height: 70px;
    }
    footer h3{
        font-size: 17px;
    }
    footer div{
        font-size: 12px;
    }
    footer ul{
        margin-left: -30px;
    }
    #contact .mb-3{
        font-size: 15px;
        font-weight: bold;
    }
    #contact label{
        font-size: 15px;
    }
    #contact .row div{
      font-size: 12px;
    }
    .image_caption{
        padding-top: 5em;
        font-size: 15px;
    }
    #googleMap{
        height: 200px;
    }
    .main-timeline .timeline-icon{
        font-size: 50px;
        transform:translateY(0);
        top: 25%;
        left: 10%;
    }
    .main-timeline .timeline-year{
        font-size: 25px;
        transform:translateY(0);
        top: 65%;
        left: 9%;
    }
    .main-timeline .content{
        width: 68%;
        padding: 10px;
    }
    .main-timeline .title{ font-size: 18px; }
    .main-timeline .timeline:nth-child(even) .timeline-icon{
        right: 10%;
    }
    .main-timeline .timeline:nth-child(even) .timeline-year{
        right: 9%;
    }
    .img-fluid{
      height: 150px;
    }
    .view-caption .cap-info h4 {
      color: #000;
      font-size: 1em;
      font-weight: bold;
      margin-top: 5px;
    }

   
}

